#map { 
    height: 600px;
    background-color: #c9b0b0;
}
#map::before{
    content: 'LOADING';
    font-size: 3em;
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 3em;
}
.leaflet-popup-content-wrapper {
    width: 100%;
}